h1 { 
    text-decoration: underline wavy rgba(192, 157, 126, 0.806) 5px; a href="index: .html;"
    border: 10px solid transparent;
    padding: 15px;
    color: rgb(93, 50, 50);
}

img{
    width: 200 px;
    height: 300px;
    border: 10px solid transparent;
    padding: 15px;
    background-color: rgb(222, 247, 255); a href="index: .html;" 
        margin: auto;
        width: 37%;
        border: 3px;
        padding: 12px;
        margin: 5px;
        
    
}

      body {
        background-color: lightblue;
        p {
            font-family: verdana;
            font-size: 20px;
            color: rgb(93, 50, 50);
            text-align: center;
          }
      
